[submodule ".registry"]
	path = .registry
	url = https://github.com/rolfturner/universe
	shallow = true
	branch = HEAD
[submodule "ionChannelData"]
	path = ionChannelData
	url = https://github.com/rolfTurner/ionChannelData
	shallow = true
	registered = true
